<div id="rainbow">
    <noscript>
        <div class="color" style="background: #FF0018;"></div>
        <div class="color" style="background: #FFA52C;"></div>
        <div class="color" style="background: #FFFF41;"></div>
        <div class="color" style="background: #008018;"></div>
        <div class="color" style="background: #0000F9;"></div>
        <div class="color" style="background: #86007D;"></div>
    </noscript>
</div>
<script>
    const flags = [
        ["#FF0018", "#FFA52C", "#FFFF41", "#008018", "#0000F9", "#86007D"], // gay
        ["#000000", "#a3a3a3", "#FFFFFF", "#800080"], // ace
        ["#3da542", "#a7d379", "#ffffff", "#a9a9a9", "#000000"], // aro
        ["#5bcdf9", "#f5a9b8", "#ffffff", "#f5a9b8", "#5bcdf9"], // trans
        ["#9c5cd4", "#fcfcfc", "#fcf434", "#2c2c2c"], // enby
    ];
    const flagToUse=flags[Math.floor(Math.random()*flags.length)];
    flagToUse.forEach(color => {
        var div = document.createElement("div");
        div.className = "color";
        div.style.background = color;
        document.getElementById("rainbow").appendChild(div);
    })
</script>
