<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/book.css">
    {% if page.styles %}
      {% for style in page.styles%}
        <link rel="stylesheet" href="/assets/css/{{ style }}.css">
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div id="container">
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
